* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(201, 201, 201);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.title {
  position: absolute;
  top: 25px;
  font-size: 4em;
  color: rgb(0, 0, 0);
}

.player-one-board,
.player-two-board {
  position: relative;
  display: grid;
  grid-template-rows: repeat(10, max-content);
  grid-template-columns: repeat(10, max-content);
  margin: 175px;
}

.player-one-board > div,
.player-two-board > div {
  border: 1px black solid;
  height: 50px;
  width: 50px;

  background-color: rgb(47, 58, 121);
}

.player-one-board > div:hover,
.player-two-board > div:hover {
  background-color: rgb(2, 196, 18);
}

#o {
  background-color: rgb(78, 78, 78);
}

.coord-letter,
.coord-letter-cpu {
  position: absolute;
  top: -30px;
  margin-left: 20px;
  font-size: 20px;
  background: none;
}

.coord-num,
.coord-num-cpu {
  position: absolute;
  left: -30px;
  margin-top: 20px;
  font-size: 20px;
}

.ship-container {
  position: absolute;
  display: grid;
  grid-template-areas:
    "cell"
    "cell"
    "cell"
    "cell"
    "cell";
  gap: 10px;
  background: none;
}

.drag-ship {
  display: flex;
  background: none;
}

.drag-ship-cell {
  grid-area: cell;
  height: 50px;
  width: 50px;
  background-color: rgb(78, 78, 78);
  border: black solid 1px;
}

.drag-ship .dragging {
  opacity: 1;
}
